<body style="background-color: black">
  <h1 style="font-family: 'Forced Square', 'sans-serif'">
    
    <div>
      <img src = "https://cdn.discordapp.com/attachments/998290768420683886/1155409138969477240/7.png" width="50%" height="120%">
      <a style="text-decoration: none; color: #78bd47; padding-left: 30%; margin-top: 70px;" href="/login"> ERROR 404 </a>
      </div>

  </h1>
</body>
