<!-- <div class="contacts">
    <hr color="9c0434">
    
    <center>
    <h2>Contact us on: </h2>
    </center>
    <br>
    <center>
    <a href="https://www.shis.tech"><img src="mainicon.png" alt="shistech"></a>
    <a href="https://www.instagram.com/shistech/?hl=en"><img src="instaicon.png" alt="instagram"></a>
    <a href="https://discord.gg/q2JUTNhUdr"><img src="discordicon.png" alt="discord"></a>
    <a href="https://www.youtube.com/@shistech"><img src="yticon.png".png" alt="youtube"></a>
    </center>
    <br>
    <br>
    <hr color ="151515">
    </div> -->
</body>
</html>